* {
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h1 {
    color: black;
    text-align: center;
    font-weight: bold
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.formulario label {
    margin-bottom: 10px;
}

#btnRegistro {
    margin-top: 20px;
}

#btnRegistro:hover {
    cursor: pointer;
    background-color:  cornsilk;
    color: blue;
}

@media (min-width: 768px) {
    .formulario {
        flex-direction: row;
    }

.formulario label, .formulario input {
    margin-bottom: 0;
    margin-right: 20px;
    }
}; 