/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: cornflowerblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
 body {
    background-image: url(img/lucas-kapla-wQLAGv4_OYs-unsplash.jpg);
 }

/* Estilos para el formulario */
.content-form {
    background-color: rgba(0, 0, 0, 0.897);
    margin: 1rem auto 0 auto;
    margin-top: 100px;
    max-width: 400px;
    padding: 30px;
    box-shadow: 7px 13px 37px #000;
}

.content-form h1 {
    color: wheat;
    text-align: center;
    font-weight: bold;
    margin-bottom: 22px;
}

/* Consulta de medios para pantallas pequeñas (menos de 420px de ancho) */
@media (max-width: 419px) {
    .content-form {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Estilos para los elementos del formulario */
.formulario {
    width: 100%;
    border: solid 1px rgb(27, 27, 116);
    border-radius: 4%;
    padding: 10%;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.formulario .controls {
    font-size: 18px;
    margin-bottom: 15px;
    padding: 10px;
    border: solid 1px rgb(27, 27, 116);
    border-radius: 5%;
}

.formulario p {
    height: px;
    text-align: center;
    font-size: 14px;
    line-height: 15px;
}

.formulario label {
    margin-bottom: 15px;
}

.formulario input {
    margin-bottom: 15px;
}

/* Estilos para el botón de registro */
#btnRegistro {
    width: 100%;
    background-color: rgb(27, 27, 116);
    margin: 16px 0;
    border: none;
    color: wheat;
    padding: 12px;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

#btnRegistro:hover {
    cursor: pointer;
    background-color: cornsilk;
    color: blue;
    border-color: blue;
}
